html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	color: #959595;
overflow-x: hidden;
}

body h3{
	font-weight: 300;
	font-size: 13px;
	color: #2e3b4e;
}

body h4{
	font-weight: 600;
	font-size: 13px;
	color: #67676d;
	margin-bottom: 30px;
}

.main__title h2{
	font-size: 35px;
	font-weight: 300;
	line-height: 24px;
color: #222626;
	margin: 110px 0 80px;
}

.main__title h3{
	font-size: 30px;
	color: #fff;
	margin-bottom: 30px;
}


.container{
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;

}

.main__link a{
font-size: 14px;
color: #fff;
text-decoration: none;
cursor: pointer;
}





.header{
	background-image: url('../images/bg-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	min-height: 100vh;
}

.header__inner,
.main__inner{
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}
.header__logo img{
	margin-top: 55px;
}

.header__title h1{
	font-size: 60px;
	font-weight: 300;
	color:#fff;
	width: 400px;
	margin-bottom: 25px;
}

.header__text{
	width: 450px;
	min-height: 400px;
	margin-top: 350px;
		color: #fff;
}
.header__subtitle{
	overflow: hidden;
	max-height: 45px;
}
.header__subtitle h5{
font-size: 13px;
}

.header__img{
position: relative;
}
.header__img img{
	position: absolute;
	top: -575px;
	right: -63px;
}

.main__text{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main__article p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 30px;
}

.main__article-2{
	margin: 80px 0 0 30px;
}





.main__grid--box {
	display: grid;
	color: #fff;
	font-size: 13px;
display: grid;
	grid-template-columns: 400px 400px 400px 400px;
	grid-template-rows: 280px 280px;
	width: 1485px;


}
.main__grid--box a{
font-size: 14px;
color: #fff;
text-decoration: none;
}
.main__grid-text{
	margin-bottom: 40px;
}

.main__grid-item {
padding: 50px 100px 50px 30px;

}

.item-1{
background-color: #f5989d;
}
.item-2{
background-color: #615f7d;
}
.item-3{
background-image: url('../images/gridblock-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	position: relative;
transition: 0.8s;
}
.item-3:hover{
	background-image: url('../images/gridblock-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.item-4{
background-color: #bd8cbf;

}
.item-5{
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: url('../images/gridblock-4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	transition: 0.8s;
}
.fa{
	position: absolute;
	right: 50px;
	bottom: 50px;
}
.fa:hover{
	font-size: 22px;
}
.item-5:hover{
	background-image: url('../images/gridblock-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.item-6{
background-color: #82ca9c;
}
.item-7{
	background-image: url('../images/gridblock-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}








.main__details {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 14px;
	font-weight: 24;
	padding-bottom: 160px;
}
.main__column {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-left: 30px;
	overflow: hidden;
}
.main__column:first-child{
	margin-left: 0;
}


.main__image{
	background-image: url('../images/bg-main__more.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	color:#fff;
}
.main__image .main__inner{
	min-height: 100vh;
	justify-content: center;
	padding-top: 100px;
}
.main__image--title h2{
	width: 550px;
	font-size: 60px;
	font-weight: 300;
	padding-bottom: 25px;
	text-align: left;
	line-height: 50px;
}
.main__image--text {
	width: 450px;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 25px;
	text-align: left;
}


.main__reasons--block{
	background-color: #82ca9c;
	color: #fff;
	padding-bottom: 110px;
}
.main__reasons--block .main__title h2,
.main__reasons--block h4{
	color: #fff;
}

.main__reasons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.main__buying{

	background-color: #f6f7fa;
	padding: 100px 0 145px;
}

.row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.main__left-block{
	margin-right: 115px;
}

.main__left-block,
.main__right-block{
	padding: 50px 70px 50px 55px;
}

.main__sup-title{
	font-size: 11px;
	line-height: 22px;
	background-color: #e1e1e1;
	color: #fff;
	padding: 0	18px;
	text-align: center;
	display: inline-block;
	border: none;
	border-radius: 5px;
}

.main__buying .main__title h3{
	color: #2e3b4e;
	line-height: 40px;
	margin: 25px 0;
}

.main__buying--text{
	width: 470px;
	font-size: 14px;
}

.main__button{
	width: 151px;
	height: 46px;
	background-color: #82ca9c;
	color: #fff;
	font-size: 11px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	border:none;
	border-radius: 3px;
	margin: 30px 0 20px;
	cursor: pointer;
}

.main__app a{
	text-decoration: none;
	margin-right: 10px;
}
.main__app a img.fa-apple{
	width: 20px;
	height: 25px;
}
.main__app a img.fa-windows{
	width: 25px;
	height: 25px;
}


.main__left-block:hover,
.main__right-block:hover{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.main__left-block:hover>.main__sup-title,
.main__right-block:hover>.main__sup-title{
	background-color: #bd8cbf;
}





.footer{
	width: 100%;
	height: 630px;
	font-size: 13px;
	background-color: #192431;
	color: #f6f7fa;
	padding: 130px 0 150px;
}
.footer__inner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__title h4{
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	color: #f6f7fa;
}

.footer__left-block{
	width: 575px;

}
.footer__row{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 70px;
}
.footer__column{
	display: flex;
	flex-direction: column;
}

.footer a{
	text-decoration: none;
	font-size: 13px;
	color: #f6f7fa;
	margin: 3px 0;
	cursor: pointer;
	display: block;
}

.form__reletive{
	width: 470px;
	height: 58px;
	position: relative;
}

.footer__form input.input__text{
	width: 470px;
	height: 58px;
border: none;
border-radius: 3px;
padding: 10px;
font-size: 16px;
}
.footer__button{
width: 70px;
height: 58px;
background-color: #82ca9c;
background-image: url('../images/tick.png');
background-repeat: no-repeat;
background-position: center center;
border: none;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
	position: absolute;
	right: 0;
	top: 0;
cursor: pointer;

}

.footer__sub-title{
	font-size: 12px;
	line-height: 18px;
	color: #57697f;
	margin-top: 18px;
}